body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:midnightblue;
    background-image:linear-gradient(22.5deg,midnightblue, darkslateblue);
    background-attachment:fixed;
    color: aliceblue;
    text-align:center;
}
h1{
    font-size:50px;
    transition-duration:1s;
    font-weight:light;
    padding-top: 20px;
}
section{
    margin:auto;
    width:75%;
    padding: 0;
    max-width: 1414px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    list-style-type:none;
}
button{
    margin-left:auto;
    border:none;
}
a button {
    display: inline;
    background-color:aliceblue;
    color: slateblue;
    cursor:pointer;
    border-radius:20px 20px 0px 0px;
    transition-duration:0.375s;
    width:100%;
    padding: 15px 0px;
}
#active{
    background-color: slateblue;
    color:aliceblue;
    border-radius:20px 20px 0px 0px;
    font-style: bold;
}
a{
    text-decoration:none;
    width:16.66%;
}
a button:hover:not(.active){
    box-shadow: slateblue 0px -4px;
}
.right{
  margin-right:auto;
}
.folder{
    background-image: linear-gradient(185deg, slateblue, darkslateblue);
    min-height:800px;
}
img{
    height:200px;
    width:auto;
    object-fit: contain;
}
.polaroid{
    padding:25px;
    border-radius:15px;
    border-style: none;
    background-color:aliceblue;
    color: midnightblue;
    font-style:oblique;
    width:200px;
    margin: auto;
    border:solid slateblue 5px;
}
.polaroid:hover{
    border:double slateblue 5px;
}
p{
    padding: 0px 20px;
}
.container{
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    width:70%;
}