body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:midnightblue;
    background-image:linear-gradient(22.5deg,midnightblue, darkslateblue);
    background-attachment:fixed;
    color: aliceblue;
    text-align:center;
}
h1{
    font-size:50px;
    transition-duration:1s;
    font-weight:light;
    padding-top: 20px;
}
section{
    margin:auto;
    width:75%;
    padding: 0;
    max-width: 1414px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    list-style-type:none;
}
button{
    margin-left:auto;
    border:none;
}
a button {
    display: inline;
    background-color:aliceblue;
    color: slateblue;
    overflow:clip;
    cursor:pointer;
    border-radius:20px 20px 0px 0px;
    transition-duration:0.375s;
    width:100%;
    padding: 15px 0px;
}
#active{
    background-color: slateblue;
    color:aliceblue;
    border-radius:20px 20px 0px 0px;
    font-style: bold;
}
#active:hover{
    box-shadow: slateblue 0px -4px;
}
a{
    text-decoration:none;
    width:16.66%;
}
a button:hover:not(.active){
    box-shadow: aliceblue 0px -4px;
}
.right{
  margin-right:auto;
}
.folder{
    background-image: linear-gradient(180.5deg, slateblue, darkslateblue);
    min-height:800px;
    overflow:hidden;
}
img{
    height:200px;
    width:auto;
    object-fit: contain;
}
.polaroid{
    padding:25px;
    border-radius:15px;
    border-style: none;
    background-color:aliceblue;
    color: midnightblue;
    font-style:oblique;
    width:200px;
    margin: auto;
    border:solid slateblue 5px;
    transition-duration:0.375s;
}
.polaroid:hover{
    border:double aliceblue 5px;
}
p{
    padding: 0px 20px;
}
.paragraph{
    width:90%;
    margin-left:5%;
}
.container{
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:70%;
}
.poster{
    width:50%;
    height:auto;
}
.posterContainer{
    width:100%;
    display:flex;
    flex-direction:row;
    padding:20px;
    border-top: solid aliceblue 1px;
    justify-content: center;
}
.typography{
    width: 50%;
    height:auto;
    background-color:white;
    align-self:center;
}
.caption{
    text-align:justify;
    line-height:200%;
    align-self:center;
}
h4{
    writing-mode:vertical-rl;
    background-color:darkslateblue;
    border-radius:20px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: darkslateblue;
    background-image:linear-gradient(22.5deg,darkslateblue, midnightblue);
}
::-webkit-scrollbar-thumb {
    background: aliceblue;
    border-radius:10px;
}
#back{
    background-color:aliceblue;
    color:darkslateblue;
    border-radius:10px;
    padding:6px;
    border: solid midnightblue 4px;
    transition-duration:0.375s;
}
#back:hover{
    border: solid aliceblue 4px;
}
.web{
    width:410px;
    height:auto;
    padding:10px;
}